{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}
{% block content %}

{% if message %}
{{ message }}
{% else %}
<form method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email">
    </div>
    <div class="form-group">
        <label for="complain">Complain</label>
        <textarea id="complain" name="complain" rows="10"></textarea>
    </div>
    <button type="submit">Send</button>
</form>
{% endif %}
{% endblock %}